    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <img class="img-responsive" src="img/liima.svg" alt="liima">
                        <div class="intro-text">
                            <span class="skills">Automation Middleware - Continuous Integration and Deployment for your Applications</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
