<section id="partner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Partner</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="partner-text">
                    <span class="partner">Wir deployen mit Liima und unterstützen gemeinsam die Community</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <a href="https://www.mobiliar.ch" class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <p>Die Mobiliar</p>
                            <i class="fa fa-angle-double-up fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-responsive" src="/img/partner/MOB_d_RGB_rot.png" alt="Die Mobiliar">
                </a>
                <p>Liima (Projectname AMW) ist im Rahmen eines Projektes für Die Mobiliar entwickelt und umgesetzt worden.
                    Die Mobiliar setzt seit über fünf Jahren auf Liima und deployed, verwaltet und automatisiert damit ihre Plattform.
                Die Mobiliar ist bei der Innovation und Weiterentwicklung von Liima massgeblich beteiligt und unterstützt die Community mit Knowhow und Expertise.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <a href="https://www.baloise.com" class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <p>Baloise Group</p>
                            <i class="fa fa-angle-double-up fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-responsive" src="/img/partner/jpg_BA_Group_blue.jpg" alt="Baloise Group">
                </a>
                <p>Die Baloise Group setzt Liima im Rahmen ihrer Deployment Pipeline ein und ist massgeblich für die Weiterentwicklung des Open Source Produkts in der Community beteiligt.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <a href="https://puzzle.ch" class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <p>Puzzle ITC GmbH</p>
                            <i class="fa fa-angle-double-up fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-responsive" src="https://www.puzzle.ch/wp-content/themes/puzzle/images/logo.svg" alt="Puzzle ITC GmbH Logo">
                </a>
                <p>Puzzle ITC GmbH als Hauptentwicklungspartner der Mobiliar bei der Umsetzung im Projekt AMW, treibt die Weiterentwicklung von Liima in der
                Community weiter und organisiert diese. Puzzle hilft Kunden, Partnern und Interessierten Liima entsprechend einzuführen und die nötigen Prozesse in bestehenden
                Deployment Pipelines anzupassen.</p>
            </div>
        </div>
    </div>
</section>


