<section id="thanks">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Credits</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="thanks-text">
                    <p>Liima wurde von Puzzle ITC GmbH im Rahmen des Projekts AMW für Die Mobiliar entwickelt und umgesetzt.</p>

                    <p>Gemeinsam haben wir erkannt, dass die Expertise die wir im Rahmen dieses Projektes gewonnen haben und sich in der Software und den Prozessen
                        wiederspiegeln auch für andere Engineers, Betriebsteams und Entwickler interessant sein können -
                        let's make AMW open source.</p>
                    <p>Puzzle hat  die Meilensteine für die Veröffentlichungund die rechtlichen Aspekte in einem Vertrag  mit der Mobiliar festgelegt. Der Code ist unter der GNU AFFERO GENERAL PUBLIC LICENSE Version 3  veröffentlicht und wird als Open Source-Projekt unter dem Namen Liima weiterentwickelt.</p>

                </div>
                <div class="thanks-text">
                    <span class="thanks">Ein grosses Dankeschön geht an Die Mobiliar, die den Sourcecode von AMW der Community zur Verfügung stellt.</span>
                </div>
            </div>
        </div>
    </div>
</section>


