<section id="thanks">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Thanks</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="thanks-text">
                    <p>Liima (Projectname AMW) wurde ursprünglich von Puzzle ITC GmbH im Rahmen eines Projektes für Die Mobiliar entwickelt und umgesetzt.</p>

                    <p>Gemeinsam haben wir entschieden, dass das Knowhow die Exptertise die wir im Rahmen dieses Projektes gewonnen hatten und sich in der Software und den Prozessen
                        wiederspiegeln auch für andere Engieers, Betriebsteams, Entwickler und die Community interessant sein können.
                        Let's make Liima (AMW) open source.</p>
                    <p>Wir haben die nächsten Schritte und die rechlichen Aspekte in einem Vertrag zwischen der Mobiliar und Puzzle ITC GmbH danach schriftlich festgelegt und geregelt.
                        So gab uns dieser Vertrag die rechtliche Sicherheit Liima (AMW) unter der GNU AFFERO GENERAL PUBLIC LICENSE Version 3 zu veröffentlichen.</p>


                </div>
                <div class="thanks-text">
                    <span class="thanks">Ein grosses Dankeschön geht an Die Mobiliar, die uns erlaubt Liima (AMW) zu open-sourcen.</span>
                </div>
            </div>
        </div>
    </div>
</section>


